body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* to remove default body margin */
  height: 100%;
  background-color: rgb(12, 12, 12);
}


canvas {
  display: block; 
  width: 100vw; 
  height: 100vh;
  border: 1px solid black;
  }